<div class="container margin-bottom-40 margin-top-40">
    <h1 class="d-none">Đăng ký tài khoản</h1>
    <div class="row justify-content-md-center">
        <div class="col-lg-7 col-md-12 my-5">
            <div class="page-login account-box-shadow">
                <div id="login" class="row">

                    <div class="col-lg-12 col-md-12 account-content order-lg-last order-md-last order-sm-first order-first p-4">
                        <ul class="auth-block__menu-list">
                            <li class="active2">
                                <a routerLink="/signin" title="Đăng nhập">Đăng nhập</a>
                            </li>
                            <li class="active">
                                <a routerLink="/signup" title="Đăng ký">Đăng ký</a>
                            </li>
                        </ul>
                        <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="has-validation-callback">
                            <input name="FormType" type="hidden" value="customer_register">
                            <input name="utf8" type="hidden" value="true"><input type="hidden" id="Token-ebc4c2cba8124ee692d0c0b65954e6ce" name="Token" value="03AGdBq26Avvr2idSfyaqVNuxZ17rP5QQE09d0plv0JHmufMdlVshkhZ33C0dCj2wUscf1DP9ziKGPnaXWl8-WREn2UtnrRbn3cHiJPqg-Pwp8rNNs492eIoeVw5qrFzmD1q8iRkEiUifAczDBt9dmJQlRfXdIbOA9VKpBPJoX-uAC_fsr4gPjacYKA2cFHlbp7-Psgyw0pZtbV5zpBxb07QJwbmn-Tlw6-iWREV0UJMXC3VRzMiJPvOQi15TX-keHwZYWfN0_TSMCPl7KubZYXcwuSVXttlFC1rOMIb3cZTfL4QKDoWotizXOv-80XiudvwJMLc7230Wh3Cj-xH0L4KVrEriFkpSSDQRQILIlyHwtX3vGcMH5fOo0DPTsMiNNrDH2IjYLYETbuIuv1BTCVHJKJKgY8x4uaD5KzIwSgHTc_ELCUXHAsJc1jBgGRdVberWO3k3iVTesNQLDYkw2C4u5Df65oE32-3DIGYKN6ByPfsab74PkwRI">

                            <div class="form-signup">

                            </div>
                            <div class="form-signup clearfix">
                                <div class="row">

                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>Tên<span class="required">*</span></label>
                                            <input placeholder="Nhập Tên" type="text" class="form-control form-control-lg" formControlName="name">
                                        </fieldset>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>Số điện thoại<span class="required">*</span></label>
                                            <input placeholder="Nhập Số điện thoại" type="tel" class="number-phone form-control form-control-lg" value="" name="phone" id="phone" required="" data-validation-error-msg="Không được để trống" data-validation="required">
                                        </fieldset>
                                    </div> -->
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>Email<span class="required">*</span></label>
                                            <input placeholder="Nhập Địa chỉ Email" type="email" class="form-control form-control-lg" formControlName="email">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label>Mật khẩu<span class="required">*</span></label>
                                            <input placeholder="Nhập Mật khẩu" type="password" class="form-control form-control-lg" formControlName="password">
                                        </fieldset>
                                    </div>

                                    <div class="col-md-12 text-center margin-top-10">
                                        <button type="submit" value="Đăng ký" class="btn btn-style btn-blues">Tạo tài
                                            khoản</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="line-break text-center mb-3">
                            <span>hoặc đăng nhập qua</span>
                        </div>
                        <div class="social-login text-center">
                            <script>
                                function loginFacebook() {
                                    var a = {
                                            client_id: "947410958642584",
                                            redirect_uri: "https://store.mysapo.net/account/facebook_account_callback",
                                            state: JSON.stringify({
                                                redirect_url: window.location.href
                                            }),
                                            scope: "email",
                                            response_type: "code"
                                        },
                                        b = "https://www.facebook.com/v3.2/dialog/oauth" + encodeURIParams(a, !0);
                                    window.location.href = b
                                }

                                function loginGoogle() {
                                    var a = {
                                            client_id: "997675985899-pu3vhvc2rngfcuqgh5ddgt7mpibgrasr.apps.googleusercontent.com",
                                            redirect_uri: "https://store.mysapo.net/account/google_account_callback",
                                            scope: "email profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile",
                                            access_type: "online",
                                            state: JSON.stringify({
                                                redirect_url: window.location.href
                                            }),
                                            response_type: "code"
                                        },
                                        b = "https://accounts.google.com/o/oauth2/v2/auth" + encodeURIParams(a, !0);
                                    window.location.href = b
                                }

                                function encodeURIParams(a, b) {
                                    var c = [];
                                    for (var d in a)
                                        if (a.hasOwnProperty(d)) {
                                            var e = a[d];
                                            null != e && c.push(encodeURIComponent(d) + "=" + encodeURIComponent(e))
                                        }
                                    return 0 == c.length ? "" : (b ? "?" : "") + c.join("&")
                                }
                            </script>
                            <a href="javascript:void(0)" class="social-login--facebook" onclick="loginFacebook()"><img width="129px" height="37px" alt="facebook-login-button" src="//bizweb.dktcdn.net/assets/admin/images/login/fb-btn.svg"></a>
                            <a href="javascript:void(0)" class="social-login--google" onclick="loginGoogle()"><img width="129px" height="37px" alt="google-login-button" src="//bizweb.dktcdn.net/assets/admin/images/login/gp-btn.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>