<section class="awe-section-1">
    <div class="home-slider swiper-container gallery-top">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <a href="" class="clearfix" title="Văn phòng phẩm" routerLink="/products">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/100/434/558/themes/831317/assets/slider_1.jpg?1651395726340">
                        <source media="(min-width: 992px)" srcset="//bizweb.dktcdn.net/100/434/558/themes/831317/assets/slider_1.jpg?1651395726340">
                        <source media="(min-width: 569px)" srcset="//bizweb.dktcdn.net/100/434/558/themes/831317/assets/slider_1.jpg?1651395726340">
                        <source media="(max-width: 567px)" srcset="//bizweb.dktcdn.net/100/434/558/themes/831317/assets/slider_1.jpg?1651395726340">
                        <img src="//bizweb.dktcdn.net/thumb/grande/100/434/558/themes/831317/assets/slider_1.jpg?1651395726340" alt="Văn phòng ph&#7849;m" class="img-responsive center-block d-block mx-auto" />
                    </picture>
                </a>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>
    <script>
        var swiper = new Swiper('.home-slider', {
            autoplay: {
                delay: 4500,
                disableOnInteraction: false
            },
            pagination: {
                el: '.home-slider .swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.home-slider .swiper-button-next',
                prevEl: '.home-slider .swiper-button-prev',
            },
        });
    </script>
</section>



<section class="awe-section-5">
    <section class="block-tab-product">
        <div class="container">
            <div class="e-tabs not-dqtab ajax-tab-1" data-section="ajax-tab-1" data-view="grid_4">
                <div class="content">
                    <div class="block-title clearfix">
                        <h2>Văn phòng phẩm cho bạn</h2>
                        <ul class="tabs tabs-title tab-desktop ajax clearfix">

                            <li class="tab-link has-content" data-tab="tab-1" data-url="/sach">
                                <span title="Sách">Sách</span>
                            </li>

                            <li class="tab-link " data-tab="tab-2" data-url="/vo-1">
                                <span title="Vở">Vở</span>
                            </li>

                            <li class="tab-link " data-tab="tab-3" data-url="/but-1">
                                <span title="Bút">Bút</span>
                            </li>

                            <li class="tab-link " data-tab="tab-4" data-url="/bo-cat-dan">
                                <span title="Bộ cắt dán">Bộ cắt dán</span>
                            </li>

                            <li class="tab-link " data-tab="tab-5" data-url="/but-mau">
                                <span title="Bút màu">Bút màu</span>
                            </li>

                        </ul>
                    </div>
                    <!-- product list -->

                    <app-product-list></app-product-list>

                    <!-- product list -->

                </div>
            </div>
        </div>
    </section>
</section>




<section class="awe-section-6">
    <section class="section_service">
        <div class="container">
            <div class="row">
                <div class="col-md-6 s-left">
                    <div class="block-title">
                        <h2>
                            Dịch vụ của chúng tôi
                        </h2>
                    </div>
                    <div class="block-content">






                        <div class="item">
                            <div class="icon">
                                <img src="//bizweb.dktcdn.net/100/434/558/themes/831317/assets/icon_service_1.svg?1651395726340" alt="Giao hàng free nội thành" />
                            </div>
                            <div class="info">
                                <h3>
                                    Giao hàng free nội thành
                                </h3>
                                <p>
                                    Giao free trong nội thành HN và HCM
                                </p>
                            </div>
                        </div>







                        <div class="item">
                            <div class="icon">
                                <img src="//bizweb.dktcdn.net/100/434/558/themes/831317/assets/icon_service_2.svg?1651395726340" alt="Trả hàng trong vòng 24h" />
                            </div>
                            <div class="info">
                                <h3>
                                    Trả hàng trong vòng 24h
                                </h3>
                                <p>
                                    Hỗ trợ trả hàng cho khách khi sản phẩm có lỗi
                                </p>
                            </div>
                        </div>







                        <div class="item">
                            <div class="icon">
                                <img src="//bizweb.dktcdn.net/100/434/558/themes/831317/assets/icon_service_3.svg?1651395726340" alt="Kiểm tra hàng khi nhận hàng" />
                            </div>
                            <div class="info">
                                <h3>
                                    Kiểm tra hàng khi nhận hàng
                                </h3>
                                <p>
                                    Khách hàng kiểm tra hàng trước khi nhận
                                </p>
                            </div>
                        </div>







                        <div class="item">
                            <div class="icon">
                                <img src="//bizweb.dktcdn.net/100/434/558/themes/831317/assets/icon_service_4.svg?1651395726340" alt="Thanh toán cod" />
                            </div>
                            <div class="info">
                                <h3>
                                    Thanh toán cod
                                </h3>
                                <p>
                                    Hỗ trợ khách hàng thanh toán cod
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block-image">

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>




<section class="awe-section-7">
    <section class="section_malchip">
        <div class="container">
            <div class="bg">
                <div class="block-title">
                    <h2>
                        Đăng ký email để nhận được ưu đãi mới nhất của chúng tôi
                    </h2>
                    <p>
                        Rất hân hạnh được phục vụ bạn. Chúc bạn có trải nghiệm tuyệt vời về dịch vụ của Stationery
                    </p>
                </div>
                <div class="mail_footer subscribe">



                    <form action="//facebook.us7.list-manage.com/subscribe/post?u=97ba6d3ba28239250923925a8&id=4ef3a755a8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                        <input type="email" class="form-control" value="" placeholder="Nhập email của bạn tại đây ..." name="EMAIL" id="mail">
                        <span class="input-group-append subscribe">
                            <button class="btn btn-default" type="submit" aria-label="Đăng ký ngay"
                                name="subscribe">Đăng ký ngay</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>