<div class="container margin-bottom-40 margin-top-40">

    <div class="row justify-content-md-center ">
        <div class="col-lg-7 col-md-12 my-5 ">
            <div class="page-login account-box-shadow">
                <div id="login" class="row ">

                    <div class="col-lg-12 col-md-12 account-content order-lg-last order-md-last order-sm-first order-first p-4">
                        <ul class="auth-block__menu-list">
                            <li class="active">
                                <a title="Đăng nhập" routerLink="/signin">Đăng nhập</a>
                            </li>
                            <li class="active2">
                                <a title="Đăng ký" routerLink="/signup">Đăng ký</a>
                            </li>
                        </ul>
                        <div id="nd-login">
                            <form (ngSubmit)="onSubmit()" [formGroup]="signinForm" class="has-validation-callback">
                                <input name="FormType" type="hidden" value="customer_login">
                                <input name="utf8" type="hidden" value="true">
                                <div class="form-signup">

                                </div>
                                <div class="form-signup clearfix">
                                    <fieldset class="form-group margin-bottom-10">
                                        <label>Email<span class="required">*</span></label>
                                        <input autocomplete="off" placeholder="Nhập Địa chỉ Email" type="email" class="form-control form-control-lg" formControlName="email">
                                        <app-show-validate [field]="signinForm.get('email')"></app-show-validate>
                                    </fieldset>
                                    <fieldset class="form-group margin-bottom-0">
                                        <label>Mật khẩu<span class="required">*</span></label>
                                        <input autocomplete="off" placeholder="Nhập Mật khẩu" type="password" class="form-control form-control-lg" formControlName="password">
                                        <app-show-validate [field]="signinForm.get('password')"></app-show-validate>
                                    </fieldset>
                                    <div class="clearfix"></div>
                                    <p class="text-right recover">
                                        <a href="#recover" class="btn-link-style" onclick="showRecoverPasswordForm();" title="Quên mật khẩu?">Quên mật khẩu?</a>
                                    </p>
                                    <div class="pull-xs-left text-center" style="margin-top: 15px;">
                                        <button class="btn btn-style btn-blues" type="submit" value="Đăng nhập" [disabled]="!signinForm.valid">Đăng
                                            nhập</button>
                                    </div>

                                </div>
                            </form>
                            <div class="clearfix"></div>
                            <div class="line-break text-center mb-2">
                                <span>hoặc đăng nhập qua</span>
                            </div>
                            <div class="social-login text-center">
                                <script>
                                    function loginFacebook() {
                                        var a = {
                                                client_id: "947410958642584",
                                                redirect_uri: "https://store.mysapo.net/account/facebook_account_callback",
                                                state: JSON.stringify({
                                                    redirect_url: window.location.href
                                                }),
                                                scope: "email",
                                                response_type: "code"
                                            },
                                            b = "https://www.facebook.com/v3.2/dialog/oauth" + encodeURIParams(a, !0);
                                        window.location.href = b
                                    }

                                    function loginGoogle() {
                                        var a = {
                                                client_id: "997675985899-pu3vhvc2rngfcuqgh5ddgt7mpibgrasr.apps.googleusercontent.com",
                                                redirect_uri: "https://store.mysapo.net/account/google_account_callback",
                                                scope: "email profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile",
                                                access_type: "online",
                                                state: JSON.stringify({
                                                    redirect_url: window.location.href
                                                }),
                                                response_type: "code"
                                            },
                                            b = "https://accounts.google.com/o/oauth2/v2/auth" + encodeURIParams(a, !0);
                                        window.location.href = b
                                    }

                                    function encodeURIParams(a, b) {
                                        var c = [];
                                        for (var d in a)
                                            if (a.hasOwnProperty(d)) {
                                                var e = a[d];
                                                null != e && c.push(encodeURIComponent(d) + "=" + encodeURIComponent(e))
                                            }
                                        return 0 == c.length ? "" : (b ? "?" : "") + c.join("&")
                                    }
                                </script>
                                <a href="javascript:void(0)" class="social-login--facebook" onclick="loginFacebook()"><img width="129px" height="37px" alt="facebook-login-button" src="//bizweb.dktcdn.net/assets/admin/images/login/fb-btn.svg"></a>
                                <a href="javascript:void(0)" class="social-login--google" onclick="loginGoogle()"><img width="129px" height="37px" alt="google-login-button" src="//bizweb.dktcdn.net/assets/admin/images/login/gp-btn.svg"></a>
                            </div>
                        </div>
                        <div id="recover-password" class="form-signup" style="display:none;">
                            <div class="fix-sblock text-center">
                                Bạn quên mật khẩu? Nhập địa chỉ email để lấy lại mật khẩu qua email.
                            </div>
                            <form accept-charset="utf-8" action="/account/recover" id="recover_customer_password" method="post" class="has-validation-callback">
                                <input name="FormType" type="hidden" value="recover_customer_password">
                                <input name="utf8" type="hidden" value="true">
                                <div class="form-signup aaaaaaaa">

                                </div>

                                <div class="form-signup clearfix">
                                    <fieldset class="form-group">
                                        <label>Email<span class="required">*</span></label>
                                        <input type="email" class="form-control form-control-lg" value="" name="Email" id="recover-email" placeholder="Nhập địa chỉ Email" data-validation="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" data-validation-error-msg="Email sai định dạng"
                                            required="">
                                    </fieldset>
                                </div>
                                <div class="action_bottom text-center">
                                    <button class="btn btn-style btn-blues" style="margin-top: 10px;" type="submit" value="Lấy lại mật khẩu">Lấy lại mật khẩu</button>
                                </div>
                                <div class="text-login text-center">
                                    <p>Quay lại <a href="javascript:;" class="btn-link-style btn-register" onclick="hideRecoverPasswordForm();" title="Quay lại">tại đây.</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>